.firstParagraph{
    font-size: 20px;
    color: green;
    font-family: 'Oswald', sans-serif;
}

.secondParagraph{
    font-size: 25px;
    color: purple;
    font-family: 'Playfair Display', serif;
}

.thirdParagraph{
    font-size: 30px;
    color: orange;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.colorRED{
    color: red;
}

.listDisc{
    list-style-type: disc;
}

.listParagraph{
    list-style-type: none;
}

.listParagraph li:before {
    
    content: "\00a7  ";
}

.listCircle{
    list-style-type: circle;
}