body, html, .main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first {
    height: 10%;
}

.second {
    height: 50%;
    align-self: flex-end;
}

.third {
    height: 37%;
    align-self: flex-end;
}

.red {
    background: red;
    width: 39.5%;
}

.orange {
    background: orange;
    width: 60%;
}

.green {
    background: green;
    width: 100%;
}

.brown, .blue, .violet {
    width: 33%;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.violet {
    background: violet;
}

@media (orientation: portrait) and (max-height: 1334px) and (max-width: 750px) {

    .orange, .brown, .blue {
        display: none;
    }

    .green, .red, .violet {
        width: 100%;
    }

    .green {
        order: 1;
        height: 10%;
        align-self: flex-start;
    }

    .violet {
        order: 2;
        height: 10%;
        align-self: flex-end;
    }

    .red {
        order: 3;
        height: 77%;
        align-self: flex-end;
    }
}

@media (orientation: landscape) and (max-height: 768px) and (max-width: 1024px) {

    .brown {
        display: none;
    }

    .orange {
        order: 1;
        width: 39%;
    }

    .violet {
        order: 2;
        width: 60%;
        height: 10%;
        align-self: flex-start;
    }

    .red {
        order: 3;
        width: 100%;
        height: 50%;
        align-self: flex-end;
    }

    .green {
        order: 4;
        width: 49.5%;
        height: 37%;
    }

    .blue {
        order: 5;
        width: 49.5%;
    }
}