body, html, .main {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: lightgray;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

header {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .logo, header .search {
  background-color: #029e91;
  font-size: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
}

header .navbar {
  background-color: lightyellow;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

header .navbar p {
  background-color: #029e91;
  padding: 4px;
}

section {
  height: 83%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 95%;
  width: 20%;
}

section .blocks div {
  background-color: #029e91;
  width: 98%;
  margin-top: 20px;
  font-weight: bold;
}

section .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  height: 95%;
}

section .images div {
  width: 33%;
  height: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .images div img {
  width: 50%;
  height: 90%;
  border: 4px solid black;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section .images div p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25%;
  margin-top: 0;
}

footer {
  background-color: #029e91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2%;
}

footer p {
  display: none;
}

@media screen and (max-width: 900px) {
  header .logo, header .search {
    font-size: 3vw;
  }
  section {
    height: 80%;
  }
  section .images div {
    width: 50%;
    height: 30%;
  }
  footer {
    height: 5%;
  }
  footer p {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  header .logo, header .search {
    font-size: 4vw;
  }
  section {
    height: auto;
  }
  section .images {
    height: 99%;
  }
  section .images div {
    width: 100%;
    height: 15%;
  }
  section .blocks {
    height: 99%;
  }
}
/*# sourceMappingURL=styles.css.map */